[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
pymongo = "*"
pyjwt = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
